@{
    Layout = "_Layout";
}

<div>
    <input type="text" class="js_search" />
</div>
<div class="row js_no_pizza text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcun post</h3>
    </div>
</div>
<div class="row js_pizza_table d-none">
    <!-- qui verranno mostrati gli elementi -->
</div>



@section Scripts{
    <script type="text/javascript">

        document.querySelector(".js_search").addEventListener('keyup', OnUserInputEvent);

        var timeoutId = null;

        function OnUserInputEvent(e) {
            let query = e.target.value;

            if (timeoutId != null)
                clearTimeout(timeoutId);

            timeoutId = setTimeout(() => {
                axios.get('/api/pizza/search', {
                    params: {
                        title: query
                    }
                }).then(response => {
                    RenderPost(response.data);

                }).catch(error => {
                    console.log(error);
                })

            }, 300);
        }

        axios.get('api/pizza/get').then(res => {

            RenderPost(res.data);

        }).catch(error => {
            debugger;
            console.log(error);
        })

        function RenderPost(data) {

            if (data.length == 0) {

                document.querySelector('.js_no_pizza').classList.remove('d-none');
                document.querySelector('.js_pizza_table').classList.add('d-none');

            } else {

                document.querySelector('.js_pizza_table').classList.remove('d-none');
                document.querySelector('.js_no_pizza').classList.add('d-none');
                document.querySelector('.js_pizza_table').innerHTML = '';

                data.forEach(pizza => {
                    console.log('pizza', pizza);
                    document.querySelector('.js_pizza_table').innerHTML +=
                        `
                                <div class="col-12 col-md-4 p-2">
                                    <div class="card pizza h-100">
                                        <img src="${pizza.image}" class="card-img-top h-100" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">${pizza.name}</h5>
                                            <p class="card-text">${pizza.description}</p>
                                        </div>
                                    </div>
                                </div>
                            `;
                })
            }

        }

    </script>
}